<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel Primario</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../media/css/styles.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../media/img/favicon.ico" type="image/x-icon" />

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../media/img/logo-nodos.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav>
                <ul>
                    <li><a class="red-a" href="../views/inicial.html">Inicial</a></li>
                    <li><a class="red-a" href="../views/primario.html">Primario</a></li>
                    <li><a class="red-a" href="../views/secundario.html">Secundario</a></li>
                    <li><a class="red-a" href="../index.html#contacto">Contacto</a></li>
                    <li><a class="white-a" href="http://200.10.100.172/nodosweb/" target="_blank">Ingresar</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <button class="burger-button"><i class='bx bx-menu-alt-right'></i></button>
            <nav class="burger-nav">
                <ul>
                    <li><a class="red-a" href="../views/inicial.html">Inicial</a></li>
                    <li><a class="red-a" href="../views/primario.html">Primario</a></li>
                    <li><a class="red-a" href="../views/secundario.html">Secundario</a></li>
                    <li><a class="red-a" href="../index.html#contacto" style="transition: 0.5s;">Contacto</a></li>
                    <li><a class="white-a" href="http://200.10.100.172/nodosweb/" target="_blank">Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <section id="hero-primario">
            <div class="hero-primario">
                <div class="hero-text-incial">
                    <h1>Somos el nexo entre la familia y el colegio</h1>
                    <p>cerca de su educación en todo momento.</p>
                    <button class="opacity-button">Quiero Probar Nodos</button>
                </div>
            </div>
        </section>

        <section id="primario">
            <div class="primario-text">
                <h1>Los padres de tus alumnos pueden estar al tanto del desempeño académico<span class="blue-span"> en la base de su educación.</span></h1>
                <p>Con Nodos les permites a las familias seguir de cerca los primeros años de formación de sus hijos.
                </p>
            </div>
            <div class="tarjeta-incial">
                <div class="tarjeta-box">
                    <h2>Ahorro de papel</h2>
                    <br>
                    <p>Entendemos la problemática actual del medio ambiente y los problemas que genera el uso masivo de papel.
                    <br><br>
                    Disminuimos el impacto que produce su constante uso, tanto a nivel de efectividad, de costos y de sustentabilidad, a través de la deopción de las tecnologías y medios digitales.
                    <br><br>   
                    Proponemos una transformación tecnológica que sea consciente de las problemáticas actuales. Y te ayudamos en el proceso de adopción!
                    </p>

                    <div class="t-box-img-1">
                        <img src="../media/img/esquinero.png" alt="">
                    </div>
                    <div class="t-box-img-2">
                        <img src="../media/img/crecimiento.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="servicios" class="servicios-white">
            <div class="servicios-text">
                <h2>Servicios en los módulos de Nodos</h2>
                <p>Pensamos un producto global que brinde todas las soluciones necesarias en el día a día de tu jardín.</p>
            </div>
            <div>
                <div class="ser-container">
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/comunicacion-escolar-modal.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Comunicación Escolar</p>
                        </div>
                    </div>
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/gestion.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Gestión Académica</p>
                        </div>
                    </div>
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/inscripciones-vacantes.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Inscripciones y Vacantes</p>
                        </div>
                    </div>
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/facturacion-cobranzas.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Facturación y Cobranzas</p>
                        </div>
                    </div>
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/orientacion.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Orientación y Seguimiento</p>
                        </div>
                    </div>
                    <div class="ser-box">
                        <div>
                            <img src="../media/img/funciones-escolares.jpg" alt="">
                        </div>
                        <div class="ser-box-text">
                            <p>Funciones Escolares</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 

        <section id="pagos">
            <div class="pagos-container">
                <h1>Lleva tus pagos al siguiente nivel</h1>
                <p>Elige un plan para comenzar con Nodos</p>
                <br>
                <div class="pagos-boxes">
                    <div class="p-box b-1">
                        <h2>Plan Simple</h2>
                        <h1><span class="blue-span">$ </span>250</h1>
                        <p><span class="red-span"><i>anual</i></span> por alumno.
                        <br>
                        Precio mensual $300.
                        </p>
                        <p><span class="red-span">Módulos incluídos:</span></p>
                        <ul>
                            <li>Comunicación Escolar</li>
                            <hr>
                        </ul>
                        <button class="blue-button">Contratar Plan</button>
                    </div>
                    <div class="p-box b-2 popular">
                        <h2>Plan Intermedio</h2>
                        <h1><span class="blue-span">$ </span>400</h1>
                        <p><span class="red-span"><i>anual</i></span> por alumno.
                        <br>
                        Precio mensual $450.
                        </p>
                        <p><span class="red-span">Módulos incluídos:</span></p>
                        <ul>
                            <li>Comunicación Escolar</li>
                            <hr>
                            <li>Gestión Académica</li>
                            <hr>
                            <li>Inscripciones y Vacantes</li>
                            <hr>
                            <li>Orientación y Seguimiento</li>
                            <hr>
                        </ul>
                        <button class="blue-button">Contratar Plan</button>
                    </div>
                    <div class="p-box b-3">
                        <h2>Plan Full</h2>
                        <h1><span class="blue-span">$ </span>600</h1>
                        <p><span class="red-span"><i>anual</i></span> por alumno.
                        <br>
                        Precio mensual $650.
                        </p>
                        <p><span class="red-span">Módulos incluídos:</span></p>
                        <ul>
                            <li>Comunicación Escolar</li>
                            <hr>
                            <li>Gestión Académica</li>
                            <hr>
                            <li>Inscripciones y Vacantes</li>
                            <hr>
                            <li>Orientación y Seguimiento</li>
                            <hr>
                            <li>Facturación y Cobranzas</li>
                            <hr>
                            <li>Funciones Escolares</li>
                            <hr>
                        </ul>
                        <button class="blue-button">Contratar Plan</button>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="logo-footer">
            <img src="../media/img/logo-nodos-footer.png" alt="">
            <a href="http://200.10.100.172/nodosweb/" target="_blank"><button class="white-button">Ingresar a Nodos</button></a>
        </div>
        <div>
            <h3>Nodos</h3>
            <br>
            <a href="../index.html"><p>Inicio</p></a>
            <a href="../views/inicial.html"><p>Nivel Inicial</p></a>
            <a href="../views/primario.html"><p>Nivel Primario</p></a>
            <a href="../views/secundario.html"><p>Nivel Secundario</p></a>
            <a href=""><p>Jardín Maternal</p></a>
            <a href=""><p>Quiero Nodos</p></a>
        </div>
        <div>
            <h3>Información Adcional</h3>
            <br>
            <a href=""><p>Acerca de Nodos</p></a>
            <a href=""><p>Blog</p></a>
            <a href=""><p>Soporte</p></a>
            <a href=""><p>Tutoriales</p></a>
            <a href=""><p>Preguntas Frecuentes</p></a>
        </div>
        <div>
            <h3>Redes</h3>
            <br>
            <a href="https://www.instagram.com/nodosapp/" target=”_blank”><p>Instagram</p></a>
            <a href="https://www.facebook.com/nodosapp" target=”_blank”><p>Facebook</p></a>
            <a href=""><p>WhatsApp</p></a>
            <a href="https://www.youtube.com/c/NodosComunicaci%C3%B3n" target=”_blank”><p>YouTube</p></a>
        </div>
        <div>
            <h3>Contacto</h3>
            <br>
            <p>+54 9 264 559-9720</p>
            <p>hola@e-nodos.com</p>
        </div>
    </footer>

    <script src="../media/js/scripts.js"></script>
</body>

</html>