<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel Secundario</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../media/css/styles.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="../media/img/favicon.ico" type="image/x-icon" />

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../media/img/logo-nodos.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav>
                <ul>
                    <li><a class="red-a" href="../views/inicial.html">Inicial</a></li>
                    <li><a class="red-a" href="../views/primario.html">Primario</a></li>
                    <li><a class="red-a" href="../views/secundario.html">Secundario</a></li>
                    <li><a class="red-a" href="../index.html#contacto">Contacto</a></li>
                    <li><a class="white-a" href="http://200.10.100.172/nodosweb/" target="_blank">Ingresar</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <button class="burger-button"><i class='bx bx-menu-alt-right'></i></button>
            <nav class="burger-nav">
                <ul>
                    <li><a class="red-a" href="../views/inicial.html">Inicial</a></li>
                    <li><a class="red-a" href="../views/primario.html">Primario</a></li>
                    <li><a class="red-a" href="../views/secundario.html">Secundario</a></li>
                    <li><a class="red-a" href="../index.html#contacto" style="transition: 0.5s;">Contacto</a></li>
                    <li><a class="white-a" href="http://200.10.100.172/nodosweb/" target="_blank">Ingresar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="hero">
            <div>
                <h1></h1>
                <p></p>
                <button></button>
            </div>
        </section>
    </main>

    <footer>
        <div class="logo-footer">
            <img src="../media/img/logo-nodos-footer.png" alt="">
            <a href="http://200.10.100.172/nodosweb/" target="_blank"><button class="white-button">Ingresar a Nodos</button></a>
        </div>
        <div>
            <h3>Nodos</h3>
            <br>
            <a href="../index.html"><p>Inicio</p></a>
            <a href="../views/inicial.html"><p>Nivel Inicial</p></a>
            <a href="../views/primario.html"><p>Nivel Primario</p></a>
            <a href="../views/secundario.html"><p>Nivel Secundario</p></a>
            <a href=""><p>Jardín Maternal</p></a>
            <a href=""><p>Quiero Nodos</p></a>
        </div>
        <div>
            <h3>Información Adcional</h3>
            <br>
            <a href=""><p>Acerca de Nodos</p></a>
            <a href=""><p>Blog</p></a>
            <a href=""><p>Soporte</p></a>
            <a href=""><p>Tutoriales</p></a>
            <a href=""><p>Preguntas Frecuentes</p></a>
        </div>
        <div>
            <h3>Redes</h3>
            <br>
            <a href="https://www.instagram.com/nodosapp/" target=”_blank”><p>Instagram</p></a>
            <a href="https://www.facebook.com/nodosapp" target=”_blank”><p>Facebook</p></a>
            <a href=""><p>WhatsApp</p></a>
            <a href="https://www.youtube.com/c/NodosComunicaci%C3%B3n" target=”_blank”><p>YouTube</p></a>
        </div>
        <div>
            <h3>Contacto</h3>
            <br>
            <p>+54 9 264 559-9720</p>
            <p>hola@e-nodos.com</p>
        </div>
    </footer>

    <script src="../media/js/scripts.js"></script>
</body>

</html>